.heading{
    text-align: center;

}
.container-fluid{
    padding: 0px !important;
}
.head{
    position: relative;
    animation-name: intro;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-timing-function: ease-out;
    color: red;
}
@keyframes intro {
    25%   {color:red;
         left:0px; top:0px;}
    0%  {color:rgba(247, 0, 0, 0);
         right:0px; top:-2000px;}  
}
.object{
    position: relative;
    color: white;
    animation-name: object;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-timing-function: ease-out;
}
@keyframes object {
    25%   {color:rgb(255, 255, 255);
         right:0px; bottom:0px;}
    0%  {color:rgba(255, 253, 253, 0);
         right:1000px; bottom:0px;}  
}
.h4{
    color: red !important;
}
.vision{
    position: relative;
    animation-name: vision;
    color: white;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-timing-function: ease-in;

}
@keyframes vision {
    25%   {color:rgb(255, 255, 255);
         left:0px; top:0px;}
    0%  {color:rgba(255, 253, 253, 0);
         left:1000px; top:0px;}  
}
.para{
    text-align: justify;
}
.picHome{
    width: 300px;
    position: relative;
    border-radius: 20px;
    animation-name: picHome;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-timing-function: ease-in-out;

}
@keyframes picHome {
    0%   {left:0px; bottom:-1000px;}
    25%  {left:0px; bottom: 0px;}  
}
.mt-20{
    margin-top: 20px;
}
.pad-5{
    padding: 0.75rem;
}