.navBar{
    color: white !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-expand-sm .navbar-collapse {
    justify-content: center !important;
}
.myNavBar{
    background-color: red !important;
    max-height: 50px;
}
.logo{
    color: white !important;
    margin: 0px 0px 0px 20px ;
    position: relative;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-timing-function: ease-out;
}

  @keyframes logo {
      25%   {color:white;
           left:0px; top:0px;}
      0%  {color:rgba(255, 253, 253, 0);
           left:-200px; top:0px;}  
    }
    .myNav{
        position: relative;
        animation-name: nav;
        animation-duration: 4s;
        animation-iteration-count: 1;
        /* animation-direction: reverse; */
        animation-timing-function: ease-out;
    }
    @keyframes nav {
        20%   {color:white;
             left:0px; top:0px;}
        0%  {color:rgba(255, 253, 253, 0);
             left:0px; top:-100px;}  
      }
      .link{
          text-decoration: none;
          color: white;
      }
      .link:hover{
        color: white;
        background-color: red;
    }
    .link:active{
        color: rgb(224, 140, 140);
    }